<div class="visible-phone">
  <div id="footer">
    <div class="footer-WVU footer-mobile">
      <div class="container">
	<div style="padding: 0 15px;">
	  <h4 class="footer-header">Lane Computer Science and Electrical Engineering</h4>
	  
	  <div class="row-fluid" align="center">
	    <div class="wvu-credits">
	      <ul>
		<li><a href="http://about.wvu.edu/wvu-facts">Accreditations</a></li>
		<li><a href="http://brand.wvu.edu/web-standards">Web Standards</a></li>
		<li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
	      </ul>
	    </div>
          </div>
	  <div class="row-fluid" align="center">
	    <div class="wvu-credits">
	      <ul>
		<li><a href="http://www.wvuf.org/">Give</a></li>
		<li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
		<li><a href="http://careerservices.wvu.edu/mountaineertraklogins">
		    MountaineerTRAK</a>
		</li>
		<li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
		<li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
		<li><a href="http://mix.wvu.edu/">MIX</a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="row-fluid" align="center">
	    <div class="span4 wvu-cr">
	      <p>
		&copy; 2014 West Virginia University. West Virginia
		University is an Equal Opportunity/Affirmative Action
		institution.
	      </p>
	    </div>
	  </div>
	  <div class="row-fluid" align="center">
	    <div class="wvu-social">
	      <ul>
		<li><a class="wvu-facebook" 
		       href="http://www.facebook.com/wvumountaineers">WVU Facebook</a>
		</li>
		<li><a class="wvu-twitter" 
		       href="https://twitter.com/WestVirginiaU/">WVU Twitter</a>
		</li>
		<li><a class="wvu-youtube" 
		       href="http://www.youtube.com/westvirginiau">WVU Youtube</a>
		</li>
	      </ul>
	    </div>
	  </div>
	</div>  
      </div> 
    </div>
  </div>
</div>
