<div class="page-header">
  <h1>Admin Tools</h1>
</div>

<%= render partial: 'amis/admin_index', 
   :locals => { :amis => Ami.all, :ami => @ami } %>

<!--
<div class="row">
  <ul class="nav nav-list">
    <li class="divider"></li>
  </ul>
</div>
-->


