<head>
  <%= javascript_include_tag params[:controller] %>
</head>


<div class="page-header">
  <h1>cLOUDs</h1>
</div>

<div class="alert cloud-msgs-container" style="display: none">
  <p class="cloud-msgs"></p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Shutoff Time</th>
      <th>IP Address</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= link_to image_tag("refresh.png", size: "25x25", id: "refresh_all"),
              refresh_clouds_path, id: 'refresh_all_instances', class: 'btn btn-mini', 
	      :data => { :png => image_path("refresh.png"), :gif => image_path("refresh.gif") },
	      :remote => true %></th>
    </tr>
  </thead>

  <tbody id="all_instances">
    <%= render 'instance_list' %>
  </tbody>
</table>


